<div class="blog">
    <div class="blog-post">
        <div class="blog-post_img">
            <img src="assets/Images/rooftop.jpg" alt="post">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Sunday</span>
                <span>October 27 2020</span>
            </div>
            <h1 class="blog-post_title">LTLC</h1>
            <p class="blog-post_text">
                "Lets talk Lets connect" is to connect people.
            </p>
            <a href="#" class="blog-post_cta">Read more</a>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post_img">
            <img src="assets/Images/poem.jpg" alt="post">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Sunday</span>
                <span>October 27 2020</span>
            </div>
            <h1 class="blog-post_title">LTLC</h1>
            <p class="blog-post_text">
                "Lets talk Lets connect" is to connect people.
            </p>
            <a href="#" class="blog-post_cta">Read more</a>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post_img">
            <img src="assets/Images/poem.jpg" alt="post">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Sunday</span>
                <span>October 27 2020</span>
            </div>
            <h1 class="blog-post_title">LTLC</h1>
            <p class="blog-post_text">
                "Lets talk Lets connect" is to connect people.
            </p>
            <a href="#" class="blog-post_cta">Read more</a>
        </div>
    </div>

</div>

<div class='more text-right mt-4 mr-4'>
    <button id='scroll-down' class='btn btn-primary'>view More..</button>
</div>