<div class="FooterSection">
    <div class="footer footer-light has-background-white">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-8 segment-one">
                <h4 class="h4">ABOUT AHB</h4>
                <p><a href="default.asp" target="_blank">Why AHB?</a></p>
                <p><a href="team">Meet our Team</a></p>
                <p><a href="#">Our Story</a></p>
                <p><a href="#">Skills</a></p>
                <p><a href="#">Testimonials</a></p>
                <p><a href="#">FAQ</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-8 segment-two">
                <h4 class="h4">OUR INITIATIVES</h4>
                <p><a href="initiative">Law of Attraction</a></p>
                <p><a href="initiative">Thani Oruvan</a></p>
                <p><a href="initiative">Habit Revolution</a></p>
                <p><a href="initiative">Journey of SELF</a></p>
                <p><a href="initiative">Reflection Call</a></p>
                <p><a href="initiative">Motta Maadi Sandhippu</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-8 segment-three">
                <h4 class="h4">OUR INITIATIVES</h4>
                <p><a href="initiative">Lets talk lets connect</a></p>
                <p><a href="initiative">AHB Radio</a></p>
                <p><a href="initiative">AHB Writers</a></p>
                <p><a href="initiative">AHB Coders</a></p>
                <p><a href="initiative">Events Today</a></p>
                <p><a href="initiative">Anbudan</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-8 segment-four">
                <h4 class="h4">PRESENT YOUR SKILLS</h4>
                <p><a href="session">View Upcoming Sessions</a></p>
                <p><a href="session">View Old Sessions</a></p>
                <p><a href="session/view-session">View your Sessions</a></p>
                <p><a href="#">View your Favorites</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-8 segment-five">
                <h4 class="h4">CONTACT</h4>
                <p><a href="https://www.amazinghuman.in/" target="_blank">iam@amazinghuman.in</a></p>
                <div>
                    <h4 style="padding-top:14px" class="h4">MORE</h4>
                    <p><a href="#">Connect with similar skills</a></p>
                    <p><a href="#">Look what keeps you joyful</a></p>
                    <p><a href="#">Impact that you create</a></p>
                    <p><a href="#">Share your Skills</a></p>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-8 segment-six">
                <div class="footer-logo">
                    <img src="assets/Images/logo.png" alt="AHB_Logo" width=150 height=100>
                </div>
                <h4 class="footer-title">Amazing Human Being</h4>
                <div class="icon">
                    <a href=''>
                        <span class=''><i class="fa fa-facebook"></i></span>
                    </a>
                    <a href=''>
                        <span class=''><i class="fa fa-twitter"></i></span>
                    </a>
                    <a href=''>
                        <span class=''><i class="fa fa-instagram"></i></span>
                    </a>
                    <a href=''>
                        <span class=''><i class="fa fa-youtube"></i></span>
                    </a>
                </div>
                <div class='fb-like'>
                    <button class='btn btn-primary'>
                        <span class=""><i class="fa fa-thumbs-o-up"></i></span>
                        <span class="">Like</span>
                        <span class="">1.3k</span>
                    </button>
                </div>
                <div>
                    <h4 class='text-center'>Our Newsletter</h4>
                    <div class="">
                        <div class="input-group" style="padding-left:0px">
                            <input type="email" class="form-control" placeholder="Email">
                            <span class="btn btn-dark"><i class="fa fa-paper-plane"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="width:100%;height:70px;padding-top:25px;font-size:16px">
        <p style="color:black">Copyright © 2020 Amazing Human Being . All rights reserved</p>
    </div>
    <!-- Copyright -->
    <!-- Facebook like and share button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="UPKy6eJb"></script>
    <!-- Facebook like and share button -->
</div>