<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Age category:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="staticEmail" placeholder="Make it short, descriptive and exciting.">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Maximum group size:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="staticEmail" placeholder="Make it short, descriptive and exciting.">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Audience types</label>
        <div class="col-sm-9">
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected value=''> -- select your choice -- </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Skill level required:</label>
        <div class="col-sm-9">
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected value=''> -- select your choice -- </option>
                <option>2</option>
  F             <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</form>