<div class="contain">
    <div class="head">
        <h1>Your questions answered</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h6>What is required before you offer to participate in a session?</h6>
        </div>
        <div class="col-sm-6">
            <h6>What is the connection between "Lets talk lets connect" and Motta Maadi Sandhippu?</h6>
        </div>
        <div class="col-sm-6">
            <h6>How to check on so far connected skills?</h6>
        </div>
        <div class="col-sm-6">
            <h6>What are you trying to co-create as a community?</h6>
        </div>
        <div class="col-sm-6">
            <h6>How can i get connected to the team?</h6>
        </div>

    </div>
</div>