.breadcrumb {
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 20px;
}

.title {
    padding-right: 10px;
}

form .form-fields {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    display: inline-flex;
    padding: 10px 0px 5px 0px;
    border-radius: 25px;
    width: 50%;
    margin: auto 1% auto 15%;
}

.form-fields .form-control {
    border-radius: 20px;
}

form button {
    margin-bottom: 0px !important;
    margin-left: 20px;
    padding: 8px 40px;
    border-radius: 20px;
}

.contain {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.container-card {
    position: relative;
    padding: 20px;
    height: 350px;
    width: 600px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-out;
}

.container-card .title {
    display: flex;
    align-items: baseline;
}

.container-card .title>p {
    margin-bottom: 0px;
    padding-left: 15px;
}

.container-card .skills {
    display: flex;
}

.container-card .skills>button {
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 20px;
}

.container-card .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-card .profile .pic>img {
    width: 60px;
    height: 60px;
}

.container-card .profile .bio {
    padding: 10px 0px 10px 10px;
}

.container-card .contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.container-card .contact>a {
    margin: 10px 15px;
    color: black;
}

.container-card .contact>button {
    border-radius: 20px;
    margin-left: 10px;
    padding: 6px 25px;
}

.container-card .extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card .extra .end {
    text-align: center;
    margin: 10px
}

.container-card .extra .end>a {
    color: black;
    font-size: 25px;
}