<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<form>
    <div class="form-row align-items-center mb-4">
        <div class="form-fields">
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Name">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Select Keyword">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Choose Location">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-2">SEARCH</button>
            <button type="submit" class="btn btn-dark mb-2">RESET</button>
        </div>
    </div>
</form>

<br>


<div class="row">
    <div class="col-md-7 title">
        <h2>Our Community Members</h2>
        <button type="button" class="btn btn-light">Web Developer</button>
    </div>
</div>

<br><br>


<div class="contain">
    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>



    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>
</div>


<div class="contain">
    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>



    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>
</div>


<div class="contain">
    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>



    <div class="container-card">
        <div class="title">
            <h4>Sathish Kumar M</h4>
            <p>Cyber Security Researcher, Pentester</p>
        </div>

        <div class="skills">
            <button class='btn btn-light'>Pentester</button>
            <button class='btn btn-light'>Ethical Hacker</button>
            <button class='btn btn-light'>Full-Stack Developer</button>
            <button class='btn btn-light'>Athletic</button>
        </div>

        <div class="profile">
            <div class="pic">
                <img src='assets/Images/user.png'>
            </div>
            <div class="bio">
                <h6>M. Sathish Kumar, a cyber security researcher and athlete who is curious in learning and main goal is to be a security engineer
                </h6>
            </div>
        </div>

        <div class="contact">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <button class='btn btn-dark'>Read More</button>
        </div>

        <div class="extra">

            <div class="end">
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <p>Ramapuram, Chennai</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-laptop"></i></a>
                <p>13 Session Token</p>
            </div>

            <div class="end">
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <p>32 Session Participated</p>
            </div>
            <div class="end">
                <a href="#"><i class="fa fa-mortar-board"></i></a>
                <p>4 Session Hosted</p>
            </div>
        </div>
    </div>
</div>