<div class="contain">
    <div class="head">
        <h1>How does it Work?</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/plus.png">
            </div>
            <div class="title">
                <h3>Register for a session</h3>
            </div>
            <p class='text-center'>You can either participate or present a session to your community people to share and learn through connections and friendship
            </p>
        </div>
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/check.png">
            </div>
            <div class="title">
                <h3>Get approved by our team</h3>
            </div>
            <p class='text-center'>Take a break! Give a read to our guideliness which can help you understand our vision and why are we doing this!
            </p>
        </div>
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/share.png">
            </div>
            <div class="title">
                <h3>Share your skill</h3>
            </div>
            <p class='text-center'>Be one among that, 3000+ skills exist in this platform. Share and invite your friends for your sessions</p>
        </div>
    </div>
</div>