<form>
    <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label">Give your session a title:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Make it short, descriptive and exciting.">
        </div>
    </div>
    <div class="form-group">
        <label for="staticEmail" class="col-form-label">Describe your session in 200 words:</label>
        <div class="">
            <textarea class="form-control" rows=2 placeholder="Make it short, descriptive and exciting.">
            </textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">What participants should bring to be in your session:</label>
        <div class="col-sm-9">
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected value=''> -- select your choice -- </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Language:</label>
        <div class="col-sm-9">
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected value=''> -- select your choice -- </option>
                <option>2</option>
  F             <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</form>