<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Our Initiative</li>
    </ol>
</nav>


<div class="contain">

    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Carve your Creativity</h1>
            <img src="assets/Images/creative.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Carve your Creativity</h2>
            <span>Sun 20-july | Highcom</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>



    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Motta Madi Santhippu</h1>
            <img src="assets/Images/rooftop.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Motta Madi Santhippu</h2>
            <span>Sun 20-july | Chennai</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>



    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Poem Marathon</h1>
            <img src="assets/Images/poem.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Poem Marathon</h2>
            <span>Tue 11-May | Mysore</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>

</div>

<br><br>
<!-- Initiative Row 2-->

<div class="contain">

    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Carve your Creativity</h1>
            <img src="assets/Images/creative.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Carve your Creativity</h2>
            <span>Sun 20-july | Highcom</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>


    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Motta Madi Santhippu</h1>
            <img src="assets/Images/rooftop.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Motta Madi Santhippu</h2>
            <span>Sun 20-july | Chennai</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>



    <div class="container-card">
        <div class="img-container">
            <h1 class='img-title'>Poem Marathon</h1>
            <img src="assets/Images/poem.jpg" alt="">
        </div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="user-info">
            <h2>Poem Marathon</h2>
            <span>Tue 11-May | Mysore</span>
        </div>
        <div class='join-button'>
            <button class='btn btn-info'>Join Us</button>
        </div>
    </div>

</div>