    /* Media Query */
    
    @media (min-width: 320px) {
        .container {
            max-width: -webkit-fill-available !important;
            margin: 0px 0px 0px 0px !important;
            padding: 0px 0px 0px 0px !important;
        }
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: -webkit-fill-available !important;
            margin: 0px 0px 0px 0px !important;
            padding: 0px 0px 0px 0px !important;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: -webkit-fill-available !important;
            margin: 20px 20px 20px 20px !important;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: -webkit-fill-available !important;
            margin: 20px 20px 20px 20px !important;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: -webkit-fill-available !important;
            margin: 20px 20px 20px 20px !important;
        }
    }