<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item"><a href="profile">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Profile</li>
    </ol>
</nav>

<form>
    <div class="form-row align-items-center mb-4">
        <div class="form-fields">
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Name">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Select Keyword">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Choose Location">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-2">SEARCH</button>
            <button type="submit" class="btn btn-dark mb-2">RESET</button>
        </div>
    </div>
</form>


<div class="row">
    <div class="title">
        <h2>Our Community Member</h2>
        <button type="button" class="btn btn-light">Web Developer</button>
    </div>
</div>

<br><br>


<div class="row">
    <div class="col-md-5 profile">
        <div class="row">
            <div class="col-md-6 pic">
                <div class="card text-center">
                    <img class="card-img-top" src="assets/Images/user.png" alt="Card image cap">
                    <div class="card-body">
                        <div class='social-icons'>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin-in"></i>
                            <i class="fa fa-github"></i>
                            <i class="fa fa-facebook-f"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                        <div class="card-text text-center">
                            <h2>Sathish Kumar</h2>
                            <p>Cyber Researcher</p>
                            <span>
                                <i class="fa fa-map-marker" style='color:cornflowerblue'></i>
                                Ramapuram, Tamil Nadu, India
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 bio">
                I'm James Callaghan, a dad and an experienced SharePoint & Office 365 Consultatnt working for Microsoft in Manchester.
                <br><br> I'm James Callaghan, a dad and an experienced SharePoint & Office 365 Consultatnt working for Microsoft in Manchester.
                <br><br> I'm James Callaghan, a dad and an experienced SharePoint & Office 365 Consultatnt working for Microsoft in Manchester.
            </div>
        </div>
    </div>

    <div class="col-md-7 details">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-home" aria-selected="true">My Skills</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-hobbies" role="tab" aria-controls="nav-profile" aria-selected="false">My Hobbies/ Interest</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-contact" aria-selected="false">I Can Offer</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-initiative" role="tab" aria-controls="nav-contact" aria-selected="false">Initiatives Involved</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-impact" role="tab" aria-controls="nav-contact" aria-selected="false">Impact Created</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!--Tab 1-->
            <div class="tab-pane fade show active MySkills" id="nav-skills" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-md-7">
                        <div class="MySkillsButtons">
                            <button class='btn btn-info'>All</button>
                            <button class='btn btn-primary'>Security</button>
                            <button class='btn btn-warning'>Encryption</button>
                        </div>
                        <div class="MySkillsBadges">
                            <div class="badger">
                                <img class="" src="assets/Badges/presenter.jpg">
                                <p>Presenter</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/speaker.png">
                                <p>Speaker</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/speaker.png">
                                <p>Speaker</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/presenter.jpg">
                                <p>Presenter</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="MySkillsPic">
                            <img class="card-img-top" src="assets/Badges/MySkillsPic.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="MySkillsUsers">
                        <h4>Firends with similar skills</h4>
                        <div class="Users">

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ranjith</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/avatar.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ragavendran</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Prasath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharmila</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Priya</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Lakshmi</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Venkatesh</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharon</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Kishore</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Tab 2-->
            <div class="tab-pane fade MyHobbies" id="nav-hobbies" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                    <div class="col-md-7">
                        <div class="MyHobbiesButtons">
                            <button class='btn btn-info'>All</button>
                            <button class='btn btn-primary'>Security</button>
                            <button class='btn btn-warning'>Encryption</button>
                        </div>
                        <div class="MyHobbiesBadges">
                            <div class="badger">
                                <img class="" src="assets/Badges/presenter.jpg">
                                <p>Presenter</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/speaker.png">
                                <p>Speaker</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/speaker.png">
                                <p>Speaker</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/presenter.jpg">
                                <p>Presenter</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                            <div class="badger">
                                <img class="" src="assets/Badges/settings.png">
                                <p>Bike Mechanic</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="MyHobbiesPic">
                            <!--img class="card-img-top" src="assets/Badges/MySkillsPic.jpg" alt="Card image cap"-->
                            <app-chart2></app-chart2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="MyHobbiesUsers">
                        <h4>Firends with similar Interests</h4>
                        <div class="Users">

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ranjith</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/avatar.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ragavendran</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Prasath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharmila</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/poem.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Priya</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/creative.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Lakshmi</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Venkatesh</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharon</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Kishore</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Tab 3-->
            <div class="tab-pane fade ICanOffer" id="nav-offer" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ICanOfferButtons">
                            <button class='btn btn-info'>All</button>
                            <button class='btn btn-primary'>Security</button>
                            <button class='btn btn-warning'>Encryption</button>
                        </div>
                        <div class="ICanOfferText">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-right" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ICanOfferPic">
                            <img class="card-img-top" src="assets/Badges/MySkillsPic.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ICanOfferUsers">
                        <h4>Firends with similar Offerings</h4>
                        <div class="Users">

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ranjith</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/avatar.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ragavendran</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Prasath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharmila</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Priya</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Lakshmi</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Venkatesh</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharon</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Kishore</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Tab 4-->
            <div class="tab-pane fade Initiative" id="nav-initiative" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    <div class="col-md-7">
                        <div class="InitiativeButtons">
                            <button class='btn btn-info'>All</button>
                            <button class='btn btn-primary'>Security</button>
                            <button class='btn btn-warning'>Encryption</button>
                        </div>
                        <div class="Initiative-cards">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="InitiativePic">
                            <img class="card-img-top" src="assets/Badges/MySkillsPic.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="InitiativeUsers">
                        <h4>Firends with similar Initiatives</h4>
                        <div class="Users">

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ranjith</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/avatar.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ragavendran</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Prasath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharmila</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Priya</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Lakshmi</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Venkatesh</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharon</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Kishore</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Tab 5-->
            <div class="tab-pane fade Impact" id="nav-impact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ImpactButtons">
                            <button class='btn btn-info'>All</button>
                            <button class='btn btn-primary'>Security</button>
                            <button class='btn btn-warning'>Encryption</button>
                        </div>

                        <div class="ImpactCards">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4 badge">
                                        <img src="assets/Badges/badge.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">200 Sessions Participated</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4 badge">
                                        <img src="assets/Badges/trophie.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">11 Sessions Hosted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4 badge">
                                        <img src="assets/Badges/trophy.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">11 Sessions Hosted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4 badge">
                                        <img src="assets/Badges/speak.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">11 Sessions Hosted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4 badge">
                                        <img src="assets/Badges/goal.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">11 Sessions Hosted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ImpactPic">
                            <img class="card-img-top" src="assets/Badges/MySkillsPic.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ImpactUsers">
                        <h4>Firends with similar Impacts</h4>
                        <div class="Users">

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ranjith</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/avatar.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ragavendran</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Prasath</p>
                                </div>
                            </div>


                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharmila</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Priya</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Lakshmi</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Venkatesh</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Sharon</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="assets/Images/user2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Kishore</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>