<div class="contain">
    <div class="head">
        <h1>Numbers that tell our story</h1>
    </div>

    <div class="row" id='counter'>
        <div class="col-sm-3">
            <div class="icon">
                <img class="" src="assets/Badges/participants.png">
            </div>
            <div class="number counter-value" data-count="5000">
                <h3>0</h3>
            </div>
            <p class='text-center'>Participants</p>
        </div>
        <div class="col-sm-3 count">
            <div class="icon">
                <img class="" src="assets/Badges/speak.png">
            </div>
            <div class="number counter-value" data-count="200">
                <h3>0</h3>
            </div>
            <p class='text-center'>Speakers</p>
        </div>
        <div class="col-sm-3 count">
            <div class="icon">
                <img class="" src="assets/Badges/device.png">
            </div>
            <div class="number counter-value" data-count="300">
                <h3>0</h3>
            </div>
            <p class='text-center'>Sessions</div>
        <div class="col-sm-3">
            <div class="icon">
                <img style='width:200px' class="" src="assets/Badges/videos.png">
            </div>
            <div class="number counter-value" data-count="136">
                <h3>0</h3>
            </div>
            <p class='text-center'>Videos</div>
    </div>

</div>