<div class='home-container'>

    <div class='reg-option'>
        <div class='opt opt1'>
            Register as a Speaker
        </div>
        <div class="opt opt2">
            Register as a Participant
        </div>
    </div>


    <div class='form-container'>
        <form class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">Session Details</label>
            <input type="text" class="form-control  mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

            <label class="sr-only" for="inlineFormInputName2">Available Date</label>
            <input type="text" class="form-control  mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

            <label class="sr-only" for="inlineFormInputName2">Additional Requirements</label>
            <input type="text" class="form-control  mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

            <label class="sr-only" for="inlineFormInputName2">Tell Us About Yourself</label>
            <input type="text" class="form-control  mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

            <label class="sr-only" for="inlineFormInputName2">Contact Details</label>
            <input type="text" class="form-control  mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

            <button type="submit" class="custom-btn btn btn-primary "><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

</div>