.home-container {
    /* background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
    background-image: url("https://a0.muscache.com/im/pictures/18084f37-67e0-400f-bfd8-55eea0e89508.jpg");
    height: 100%;
    padding-bottom: 40px;
    background-size: cover;
}

.reg-option {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.reg-option .opt {
    margin: auto 20px;
    color: white;
    padding: 20px 20px 10px 20px;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
}


/* .reg-option .opt:focus {
    font-weight: bold;
} */

.reg-option .opt:hover {
    cursor: pointer;
}

.reg-option .opt:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 4%;
    bottom: 0;
    left: 48%;
    border-bottom: 2px solid white;
    position: absolute;
}

.reg-option .opt span {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    bottom: 0;
    left: 40%;
    border-bottom: 2px solid white;
    position: absolute;
}

.initiative {
    padding: 115px 100px;
}

.initiative .text {
    color: white;
}