<div class='home-container'>

    <div class='reg-option'>
        <div class='opt'>
            Register as a Speaker
        </div>
        <div class="opt opt2" (click)='closeTemplate()'>
            Register as a Participant
        </div>
    </div>




    <div class='form-container'>
        <div class="form-outer" (clickOutside)="onClickedOutside($event)">
            <form class="form-inline">
                <button (click)="showSessionTemplate()" class='input'>
                <div class='head'>
                    Give your session details?
                </div>
                <div class="subhead">
                    Describe your session
                </div>
                </button>

                <div class="vl"></div>

                <button class='input' (click)="showDateTemplate()">
                <div class='head'>
                    Your available date
                </div>
                <div class="subhead">
                    Date Range
                </div>
                </button>

                <div class="vl"></div>

                <button class='input' (click)="showAttendTemplate()">
                <div class='head'>
                    Who can attend your session?
                </div>
                <div class="subhead">
                    Additional Requirements
                </div>
                </button>

                <div class="vl"></div>

                <button class='input' (click)="showSpeakerTemplate()">
                <div class='head'>
                    Speaker Details
                </div>
                <div class="subhead">
                    Tell us about yourself
                </div>
                </button>

                <div class="vl"></div>

                <button class='input' (click)="showContactTemplate()">
                <div class='head'>
                    Contact Information
                </div>
                <div class="subhead">
                    To reach out you
                </div>
                </button>

                <input type="text" class="form-control" id="SesionDetails">
                <input type="text" class="form-control" id="DateRange">
                <input type="text" class="form-control" id="Addtional">
                <input type="text" class="form-control" id="AboutYou">
                <input type="text" class="form-control" id="ContactDetails">
                <button type="submit" class="custom-btn btn btn-primary" data-toggle="modal" data-target="#logModal"><i class="fa fa-search" aria-hidden="true"></i></button>

            </form>

            <div *ngIf='template' class='templates'>

                <div *ngIf='sessionTemplate' class="sessionTemplate">
                    <app-session-details></app-session-details>
                </div>

                <div *ngIf='attendTemplate' class="attendTemplate">
                    <app-attend-details></app-attend-details>
                </div>


                <div *ngIf='dateTemplate' class="dateTemplate">
                    <app-daterange></app-daterange>
                </div>

                <div *ngIf='speakerTemplate' class="speakerTemplate">
                    <app-speaker-details></app-speaker-details>
                </div>

                <div *ngIf='contactTemplate' class="contactTemplate">
                    <app-contact-details></app-contact-details>
                </div>


            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <app-entry></app-entry>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
            </div>
        </div>
    </div>





    <div class="initiative" style='padding: 115px 100px'>
        <div class="row">
            <div class="col-sm-3">
                <h1 class='text'>Lets talk lets connect</h1>
                <p class='text'>Bring out that best inside you and build togetherness</p>
                <button class='btn btn-light'>Book Your Session</button>
            </div>
        </div>

    </div>

</div>