.home-container {
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    height: 60vh;
}

.reg-option {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.reg-option .opt {
    margin: auto 20px;
    color: white;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    padding-right: 10px;
    background-color: white;
    border-radius: 50px;
}

form input {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    border-radius: 50px;
    border: none;
}

form input:hover {
    background-color: #f7f7f7;
}

form .custom-btn {
    background-color: #ff385c;
    border-radius: 30px;
    border: none;
    width: 50px;
    height: 50px;
}