<div class='home-container'>
    <div class='reg-option d-flex justify-content-between'>
        <div style="padding: 0px 190px 0px 50px;">
            <a href="home">
                <img src="assets/Images/logo.png" alt="" style="height:50px">
            </a>
        </div>

        <div>
            <button class='opt' (click)='openSpeakerTemplate()'>
            Register as a Speaker
            <span *ngIf='speakerLine'></span>
        </button>


            <button class="opt" (click)='openParticipantTemplate()'>
            Register as a Participant
            <span *ngIf='participantLine'></span>
        </button>
        </div>

        <div>
            <button routerLink="" class="trans_btn">About AHB</button>

            <button mat-button [matMenuTriggerFor]="lang" class="trans_btn">
                <i class="fa fa-globe space"></i>
                <i class="fa fa-angle-down space"></i>
            </button>
            <mat-menu #lang="matMenu" class='sub-menu'>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Tamil</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="profile" class="white_btn">
                <i class="fa fa-bars space"></i>
                <i class="fa fa-user space"></i>
            </button>
            <mat-menu #profile="matMenu" class='sub-menu'>
                <button mat-menu-item data-toggle="modal" data-target="#logModal">Sign up</button>
                <button mat-menu-item data-toggle="modal" data-target="#logModal">Login</button>
                <mat-divider></mat-divider>
                <button mat-menu-item>Join as a host</button>
                <button mat-menu-item>Join as a participant</button>
                <button mat-menu-item>Join as a co-creator</button>
            </mat-menu>

        </div>

    </div>

    <app-register-speaker *ngIf='speakerTemplate'></app-register-speaker>
    <app-register-participant *ngIf='participantTemplate'></app-register-participant>





    <!-- <div class="initiative" style='padding: 115px 100px'>
        <div class="row">
            <div class="col-sm-3">
                <h1 class='text'>Lets talk lets connect</h1>
                <p class='text'>Bring out that best inside you and build togetherness</p>
                <button class='btn btn-light'>Book Your Session</button>
            </div>
        </div>

    </div> -->

    <div class="initiative">
        <h1 class='text'>Lets talk lets connect</h1>
        <p class='text'>Bring out that best inside you and build togetherness</p>
        <button class='btn btn-light'>Book Your Session</button>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-entry></app-entry>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>