<div class="contain">
    <div class="head">
        <h1>Join our Team in 3 steps</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/check.png">
            </div>
            <div class="title">
                <h3>Register</h3>
            </div>
            <p class=''>Share your skills with us and let us know what you are willing to contribute to the community
            </p>
        </div>
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/check.png">
            </div>
            <div class="title">
                <h3>Read the guideliness</h3>
            </div>
            <p class=''>Go through our aggreements which can guide you about our work and vision
            </p>
        </div>
        <div class="col-sm-4">
            <div class="icon">
                <img class="" src="assets/Badges/check.png">
            </div>
            <div class="title">
                <h3>Join the team</h3>
            </div>
            <p class=''>More than a team, its a family with collective friendship in a community
            </p>
            <p class=''><a href='#'>Learn how to start hosting</a></p>
        </div>
    </div>
</div>